@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
}

.gg {
  background-image: url(./Assets/img/front.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bbb {
  background-image: url(./Assets/img/bbbb.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.watch {
  background-image: url(./Assets/img/watch.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product {
  background-image: url(./Assets/img/productcart.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.track {
  background-image: url(./Assets/img/tracking.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: jet;
  src: url(./Assets/font/JetBrainsMono-Regular.ttf);
}
@font-face {
  font-family: mukta;
  src: url(./Assets/font/Mukta-Regular.ttf);
}
@font-face {
  font-family: one;
  src: url(./Assets/font/MoiraiOne-Regular.ttf);
}
@font-face {
  font-family: lato;
  src: url(./Assets/font/Lato-Regular.ttf);
}
@font-face {
  font-family: nunito;
  src: url(./Assets/font/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: poppins;
  src: url(./Assets/font/Poppins-Regular.ttf);
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #0071e3;
  border-radius: 100px;
}
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}
