@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
}

.gg {
  background-image: url(./Assets/img/front.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bbb {
  background-image: url(./Assets/img/bbbb.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.watch {
  background-image: url(./Assets/img/watch.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product {
  background-image: url(./Assets/img/productcart.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.track {
  background-image: url(./Assets/img/tracking.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: jet;
  src: url(./Assets/font/JetBrainsMono-Regular.ttf);
}
@font-face {
  font-family: mukta;
  src: url(./Assets/font/Mukta-Regular.ttf);
}
@font-face {
  font-family: one;
  src: url(./Assets/font/MoiraiOne-Regular.ttf);
}
@font-face {
  font-family: lato;
  src: url(./Assets/font/Lato-Regular.ttf);
}
@font-face {
  font-family: nunito;
  src: url(./Assets/font/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: poppins;
  src: url(./Assets/font/Poppins-Regular.ttf);
}
@font-face {
  font-family: google;
  src: url(./Assets/font/Product\ Sans\ Regular.ttf);
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

span,
img {
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}

.bt {
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 70% cover 30%;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeDiv {
  from {
    opacity: 0;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

.bell {
  color: #ffa947;
  animation: shake 1000ms ease infinite;
  font-size: 23px;
  margin-top: 2px;
  margin-bottom: 2px;
  /* animation-delay: 200ms; */
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }
  5% {
    rotate: 12deg;
  }
  20%,
  40% {
    rotate: -25deg;
  }
  30%,
  50% {
    rotate: 25deg;
  }
  60% {
    rotate: 0deg;
  }
}
